@font-face {
    font-family: 'alphabetized cassette tapes';
    src: url('alphabetizedcassettetapes.eot');
    src: url('alphabetizedcassettetapes.eot?#iefix') format('embedded-opentype'),
        url('alphabetizedcassettetapes.woff2') format('woff2'),
        url('alphabetizedcassettetapes.woff') format('woff'),
        url('alphabetizedcassettetapes.ttf') format('truetype'),
        url('alphabetizedcassettetapes.svg#alphabetizedcassettetapes') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

h1 {
    display: table;
    margin: auto;
    padding-top: 2.5px;
    color: #575757;
}

a, label{
    font-size: 20px;
}

body{
	background-color: #f2eecb;
	font-family: 'alphabetized cassette tapes';
}

#chart {
  height:800px;
  width:1000px;
  margin:10px;
}

#legend {
  height:800px;
  width:350px;
}

.main {
  font-size: 30px;
  padding: 5px;
}

path.link {
        fill: none;
        stroke-width: .5px;
      }
.node:not(:hover) .nodetext {
    display: none;
  }

.arc {
  stroke: #AAAAAA;
}
.monthText {
  fill: #000000;
  font-size: 18px;
}